black = #222
green = rgb(135,163,78)

*
	font-family 'Roboto' !important
	transition all 0.3s
body 
	font-size 18px
nav
	position fixed
	display block
	background-color white
	border-bottom 1px solid gray
	width 100%
	ul 
		width 100%
		margin 0 auto
		text-align center
		li 
			display inline-block
			padding 10px
			font-size 1.1rem
			a, a:visited
				color black
header
	width 100%
	height 75vh
	margin-bottom 45px
	padding-top 150px
	background-image url('../img/bkg.jpeg')
	background-size cover
	background-position fixed
	h1 
		font-size 2.5rem
	h2 
		font-size 1.5rem
		text-transform uppercase
	h1, h2
		color white
		font-weight lighter
.contain 
	margin 0 auto
	width 80%
	max-width 960px
section 
	margin 45px auto
p 
	color black
	
h3 
	color green 
	font-weight lighter
	